@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Prompt", sans-serif;
  background-image: url('https://img.freepik.com/free-vector/background-template-with-chinese-pattern-red_1308-36996.jpg'); /* ลายพื้นหลังตรุษจีน */
  background-size: cover;
  background-attachment: fixed;
}
